@import "tailwindcss";


input[type="checkbox"] {
    width: 23px;
    height: 23px;

    cursor: pointer;
    transition: all 0.2s ease;
    flex-shrink: 0;
    appearance: none; 
    -webkit-appearance: none;
    border: 2px solid #7a42f4; 
    background-color: #d7bcff;
    
    background-image: repeating-linear-gradient(
        45deg,
        #d1b3ff,
        #7a42f4 2px,
        transparent 2px,
        transparent 4px
    );

    border-radius: 4px;
    display: grid;
    place-content: center;

    display: flex;
    justify-content: center;
    align-items: center;


}


input[type="checkbox"]::before {
    content: "✔";
    color: white;
    font-size: 15px;
    font-weight: 1000;
    display: none;
    margin-top: 3px;
}

input[type="checkbox"]:checked {
    background-color: #1f7217;
    border-color: #145214;    
    background-image: repeating-linear-gradient(
        45deg,
        #8fd98b,      
        #8fd98b 2px,   
        transparent 2px,
        transparent 4px
    );
    
}

input[type="checkbox"]:checked::before {
    display: block;
}

